---
import classNames from "classnames";
interface Props {
  classnames?: string[];
}

const props = Astro.props;
---

<div
  class={classNames(
    "w-full border border-slate-200 dark:border-amber-400",
    props.classnames
  )}
>
</div>
