---
---

<div class="container w-full text-black dark:text-amber-50 mx-auto">
  <nav class="flex sm:justify-start space-x-2">
    {
      [
        ["About Me", "/about"],
        ["Projects", "/projects"],
        ["Experience", "/experience"],
      ].map(([title, url]) => (
        <a
          href={url}
          class="rounded-md p-0.5 text-slate-800 dark:text-amber-400 font-medium hover:bg-amber-700 dark:hover:bg-amber-50 dark:hover:text-slate-800 hover:text-slate-100"
        >
          {title}
        </a>
      ))
    }
  </nav>
</div>
