---
interface Props {
  skill: string;
  level: string; // tailwind class
}
const props = Astro.props;
---

<li class="flex flex-col gap-0.5 md:gap-1.5 md:flex-row md:items-center">
  <p class={`text-slate-800 font-bold  w-32 md:w-28  dark:text-amber-200`}>
    {props.skill}
  </p>
  <div class="border-2 flex w-4 border-slate-800 dark:border-amber-400">
    <div
      class={`h-0.5 animate-skill-level-${props.level} bg-amber-700 dark:bg-amber-200`}
    >
    </div>
  </div>
</li>
