---
import { theme } from "../store/theme";
import i18next from "i18next";
export interface Props {
  title: string;
}

const { title } = Astro.props;

const $theme = theme.get();
---

<!DOCTYPE html>
<html lang={i18next.language} class={$theme + " subpixel-antialiased"}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-amber-50 dark:bg-slate-800">
    <slot />
  </body>
</html>
